@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 288 70% 90%;
  --primary-foreground: 288 50% 20%;
  --secondary: 316 70% 95%;
  --secondary-foreground: 316 50% 20%;
  --accent: 264 70% 95%;
  --accent-foreground: 264 50% 20%;
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 288 70% 90%;
  --radius: 0.75rem;
}

.dark {
  --primary: 288 70% 15%;
  --primary-foreground: 288 70% 90%;
  --secondary: 316 70% 15%;
  --secondary-foreground: 316 70% 90%;
  --accent: 264 70% 15%;
  --accent-foreground: 264 70% 90%;
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 288 70% 90%;
}

@layer base {
  * {
    @apply border-border;
  }
  html {
   font-feature-settings: "salt";
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@layer utilities {
  .animate-float {
    animation: float 2s ease-in-out infinite;
  }
}